.mySwiper {
  position: relative;
  padding-bottom: 50px;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.swiper-pagination-bullet {
  background: #007aff;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
